.Navigationitem {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}
.Navigationitem a {
  color: #8f5c2c;
  box-sizing: border-box;
  text-decoration: none;
  width: 100%;
  display: block;
}
.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active {
  color: #40a4c8;
}

@media (min-width: 700px) {
  .Navigationitem {
    height: 100%;
    margin: 0;
    width: auto;
    display: flex;
    align-items: center;
  }
  .Navigationitem a {
    color: white;
    padding: 16px 10px;
    height: 100%;
    border-bottom: 4px solid transparent;
  }
  .Navigationitem a:hover,
  .Navigationitem a:active,
  .Navigationitem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
